.question {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    border: 1px solid lightgray;
    padding: 8px;
    box-shadow: 1px 1px 10px 2px lightgrey;
    margin: 2rem auto;

    @media (max-width: 414px) {
        width: 350px;
    }

    .title, .question-counter, .question-info {
        align-self: center;
        margin: 5px;
        padding: 0;
    }

    .title {
        color: #ed5f1f;
    }

    .code {
        background: #F6F8FA;
        font-size: 14px;
        padding:12px;
        font-family: 'Source Code Pro';;
        width: auto;
    }

    .options-area {
        margin-top: 14px;

        .options {
            display: flex;
            flex-direction: row;
            align-items: center;
            background: cadetblue;
            color: white;
            padding-left: 1rem;
            margin-bottom: 3px;  
            transition: all 0.1s ease;  
            padding: 10px; 
            cursor: pointer;
            user-select: none;
            
            label {
                margin-right: 5px
            }

            p {
                margin-bottom: 0;
            }
        }
    }

    .user-action {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        cursor:pointer;
        padding: 0 8px;
        margin-top: 2rem;

        p {
            font-weight: 600;
            user-select: none;
        }
    }
}



