@mixin result-buttons($marginTop, $marginBottom) {
    align-self: center;
    padding: 8px 12px;
    background: #ed5f1f;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    width:130px;
    margin-top: $marginTop;
    margin-bottom: $marginBottom;
}

.final-result-screen {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 8px;
    border:1px solid lightgray;
    box-shadow: 1px 1px 10px 2px lightgrey;
    font-weight: 600;
    margin: 2rem auto 0 auto;

    .title {
        text-align: center;
    }
    .result-area {
        display: flex;
        justify-content: space-around;
        .correct-field {
            color:#019500;
        }
        .wrong-field {
            color:red;
        }
    }
    .percentage-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;

        label {
            margin-bottom: 10px;
        }
    }
    .retry-quiz{
        @include result-buttons(2rem, 10px);
    }
    .or {
        align-self: center;
        margin: 0;
        font-weight: normal;
    }
    .start-new-quiz {
        @include result-buttons(10px, 2rem);
    }

    .btn-check-answers {
        border: none;
        padding: 8px 0;
        background: cadetblue;
        color: white;
        border-radius: 3px;
        font-weight: normal;
        cursor: pointer;
    }

    
}

.ant-modal-body {
    padding: 10px 20px !important;
    .check-answers-area {
        border-bottom: 1px dashed lightgray;
        margin-bottom: 5px;
        .check-answers {
            display: flex;
            .user-answer, .right-answer {
                margin-right: 10px;
                span {
                    font-weight: 600;
                }
            }
            .result {
                font-weight: 600;
            }
        }
    }
}

